:root {
  --primary-color: #DC0000;      /* Warna utama */
  --secondary-color: #860000;    /* Warna sekunder */
  --accent-color: #ce5d5d;       /* Warna aksen */
  --background-color: #ffff;   /* Latar belakang */
  --text-color: #333;            /* Warna teks */
  --error-color: #e74c3c;        /* Warna error */
}

/* Reset semua margin dan padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* App Layout */
.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: row; /* Membuat layout horizontal antara sidebar dan konten */
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  transition: margin-left 0.3s ease; /* Animasi saat sidebar muncul atau hilang */
}

#content {
  width: 1200px;
  padding: 10px;
  flex: 1;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column; /* Mengubah menjadi layout vertikal untuk perangkat kecil */
  }

  .main-container {
    margin-left: 0; /* Menghilangkan margin untuk tampilan di perangkat kecil */
  }

  #dashboard {
    padding: 15px;
  }

  .stats {
    display: flex;
    flex-direction: column; /* Mengatur statistik secara vertikal di perangkat kecil */
    gap: 10px;
  }

  .stat-item {
    width: 100%; /* Membuat stat-item penuh di perangkat kecil */
    box-sizing: border-box;
  }

  #search {
    width: 100%; /* Membuat input pencarian lebih lebar di perangkat kecil */
  }

  #destination-list {
    display: block;
  }
}
