.footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 70px;
  margin-top: auto;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Pastikan header berada di atas */
  position: fixed;
}

.footer-bottom p {
  font-size: 14px;
  color: var(--background-color);
}
