/* Container for Users Section */
#users {
  padding: 30px;
  background-color: var(--background-color);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 70px;
  margin-left: 250px;
}

#users h2 {
  font-size: 32px;
  color: var(--text-color);
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

/* Search Input Styling */
#search-users {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid var(--accent-color);
  width: 75%;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#search-users:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0px 4px 12px rgba(255, 0, 0, 0.2);
}

/* User List Styling */
#user-list {
  margin-top: 20px;
}

.user-card {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.user-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.user-info {
  flex-grow: 1;
  color: #2c3e50;
}

.user-info h3 {
  font-size: 18px;
  font-weight: bold;
  color: #34495e;
}

.user-info p {
  font-size: 14px;
  color: #7f8c8d;
  margin: 5px 0;
}

.user-actions {
  display: flex;
  gap: 15px;
}

.user-actions button {
  background-color: var(--background-color);
  padding: 10px 20px;
  font-size: 16px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.user-actions button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.user-actions button:focus {
  outline: none;
}

.user-actions button i {
  margin-right: 5px;
}

.no-users {
  font-size: 18px;
  color: #888;
  text-align: center;
}