/* Tickets.css */
#tickets {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
  margin-left: 250px;
}

#ticket-list {
  margin-top: 20px;
}
