/* Tickets.css */
#tickets {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
  margin-left: 250px;
}

#tickets h2 {
  font-size: 28px;
  color: var(--accent-color);
  margin-bottom: 20px;
  font-weight: bold;
}

#ticket-list {
  margin-top: 20px;
}
